In [17]:
import pandas as pd

# Carregar os dados de população maior de 18 anos
pop_df = pd.read_csv('Dados\Dados_ONU\population-older-than-18-years.csv')

# Definir os nomes dos continentes conforme presentes no dataset
continentes_un = [
'Africa (UN)',
'Americas (UN)',
'Asia (UN)',
'Europe (UN)',
'Latin America and the Caribbean (UN)',
'Northern America (UN)',
'Oceania (UN)'

]

# Filtrar os dados para os continentes selecionados
pop_continentes = pop_df[pop_df['Entity'].isin(continentes_un)]
pop_continentes['Continete'] = pop_continentes['Entity'].replace({
    'Africa (UN)': 'África',
    'Americas (UN)': 'Américas',
    'Asia (UN)': 'Ásia',
    'Europe (UN)': 'Europa',
    'Latin America and the Caribbean (UN)': 'América Latina e Caribe',
    'Northern America (UN)': 'América do Norte',
    'Oceania (UN)': 'Oceania'
})
# Determinar ano final e inicial para análise de 7 anos
ano_final = pop_continentes['Year'].max()
ano_inicial = ano_final - 7

# Obter dados dos dois anos
cont_pop_final = pop_continentes[pop_continentes['Year'] == ano_final][['Entity', '18+ years']].rename(columns={'18+ years': 'População 2016'})
cont_pop_inicio = pop_continentes[pop_continentes['Year'] == ano_inicial][['Entity', '18+ years']].rename(columns={'18+ years': 'População 2023'})

# Juntar e calcular crescimento absoluto e percentual
cont_variacao = pd.merge(cont_pop_final, cont_pop_inicio, on='Entity')
cont_variacao['Crescimento Absoluto'] = cont_variacao['População 2023'] - cont_variacao['População 2016']
cont_variacao['Crescimento Percentual (%)'] = (cont_variacao['Crescimento Absoluto'] / cont_variacao['População 2016']) * 100

# Ordenar por crescimento percentual
cont_variacao_sorted = cont_variacao.sort_values(by='Crescimento Percentual (%)', ascending=False).reset_index(drop=True)
cont_variacao_sorted.head(10)

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\bruno\AppData\Local\Temp\ipykernel_23184\2669081548.py:4: SyntaxWarning: invalid escape sequence '\D'
  pop_df = pd.read_csv('Dados\Dados_ONU\population-older-than-18-years.csv')
C:\Users\bruno\AppData\Local\Temp\ipykernel_23184\2669081548.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_continentes['Continete'] = pop_continentes['Entity'].replace({

,Entity,População 2016,População 2023,Crescimento Absoluto,Crescimento Percentual (%)
0,Europe (UN),605789156,604391262,-1397894,-0.230756
1,Northern America (UN),301391697,282775701,-18615996,-6.176678
2,Americas (UN),778051082,717592138,-60458944,-7.770562
3,Asia (UN),3458166525,3179444849,-278721676,-8.059811
4,Latin America and the Caribbean (UN),476659343,434816377,-41842966,-8.778379
5,Oceania (UN),33235938,29723793,-3512145,-10.567311
6,Africa (UN),800622581,656365901,-144256680,-18.018063

In [12]:
print(ano_inicial)

2016