In [89]:
# Configuraçõe# Bibliotecas padrão
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import requests

import warnings

# Desabilitar todos os warnings
warnings.filterwarnings("ignore")

Processamento = pd.read_csv('Dados/Dados_Embrapa/Processamento/Tbl_ProcessaViniferas.csv', sep=';', encoding='utf-8')
Processamento.head()

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,TINTAS,TINTAS,10448228,11012833,10798824,8213674,17457849,22593885,20265190,...,29810706,29935627,13370866,32850915,26868514,nd,28003505,93296587,*,"35881118,23"
1,2,ti_Alicante Bouschet,Alicante Bouschet,0,0,0,0,0,0,0,...,1456305,1519576,908841,2040198,2103844,nd,2272985,811140,*,"4108858,21"
2,3,ti_Ancelota,Ancelota,0,0,0,0,0,0,0,...,937844,773526,179028,733907,492106,nd,481402,6513974,*,"783688,39"
3,4,ti_Aramon,Aramon,0,0,0,0,0,0,0,...,0,0,0,0,0,nd,0,0,*,0
4,5,ti_Alfrocheiro,Alfrocheiro,0,0,0,0,0,0,0,...,0,0,0,0,0,nd,0,0,*,0

In [110]:
# Manter primeiras 3 colunas e as últimas 15 colunas


Processamento_tratado = Processamento.iloc[:,-15:].replace(['nd', '*'], np.nan)
Processamento_tratado = pd.concat([Processamento.iloc[:, :3], Processamento_tratado.iloc[:, -15:]], axis=1)
# Adiciona a coluna 'categoria' com valores vazios inicialmente
Processamento_tratado['categoria'] = None
Processamento_tratado['2023'] = Processamento_tratado['2023'].astype(str).str.replace(',', '.').replace(['nd','*'],'0')
Processamento_tratado['2023'] = pd.to_numeric(Processamento_tratado['2023'], errors='coerce')
# Preenche os valores com base na coluna 'control'
Processamento_tratado.loc[Processamento_tratado['control'].str.startswith('ti_'), 'categoria'] = 'TINTAS'
Processamento_tratado.loc[Processamento_tratado['control'].str.startswith('br_'), 'categoria'] = 'BRANCAS E ROSADAS'

colunas_para_manter = ['categoria','cultivar'] + Processamento_tratado.dropna(axis='columns').columns.tolist()
Processamento_final = Processamento_tratado[colunas_para_manter]
Processamento_final = Processamento_tratado.dropna(subset=['categoria'])
Processamento_final = Processamento_final.drop(columns=['control'])
Processamento_final = Processamento_final.loc[:, ~Processamento_final.columns.duplicated()]
Processamento_final.head(40)

,id,cultivar,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,categoria
1,2,Alicante Bouschet,1652912,849263,2130579,2098824,1524728,1456305,1519576,908841,2040198,2103844,NaN,2272985,811140,NaN,4108858.21,TINTAS
2,3,Ancelota,1370728,853718,1346552,1274677,1137943,937844,773526,179028,733907,492106,NaN,481402,6513974,NaN,783688.39,TINTAS
3,4,Aramon,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
4,5,Alfrocheiro,31168,0,4320,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
5,6,Arinarnoa,39607,35790,49376,81026,65001,56666,61817,17691,69757,44775,NaN,90860,2785609,NaN,147979.40,TINTAS
6,7,Aspirant Bouschet,0,0,2258,7448,3650,7091,8859,12901,18086,12830,NaN,34513,15691137,NaN,138338.00,TINTAS
7,8,Barbera,70932,26044,76397,47549,40630,19514,19980,14738,24218,21863,NaN,12349,437640,NaN,35292.00,TINTAS
8,9,Bonarda,2320,0,250,1114,0,0,0,0,0,0,NaN,0,3110,NaN,7800.00,TINTAS
9,10,Cabernet Franc,3365865,2125997,2741150,2594675,2452229,1894496,1981004,820996,2116893,1524191,NaN,1506219,16626545,NaN,2152213.13,TINTAS
10,11,Cabernet Sauvignon,13229864,6617553,13039126,11355820,10651084,8556337,7426634,3877852,7242258,6004627,NaN,5889427,1857999,NaN,5917172.94,TINTAS
11,12,Caladoc,0,0,0,0,2480,3300,4000,2180,8500,4740,NaN,5230,108600,NaN,8310.00,TINTAS
12,13,Campanario,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
13,14,Canaiolo,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
14,15,Carignan,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
15,16,Carmenere,130269,85264,50125,48990,44414,66632,134180,87402,69275,241808,NaN,184268,76625,NaN,14359.80,TINTAS
16,17,Castelão,16240,16230,26790,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
17,18,Corvina,680,100,1110,1200,1382,1406,1397,419,1890,0,NaN,2220,69910,NaN,2200.00,TINTAS
18,19,Croatina,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
19,20,Cinsaut,0,0,0,0,0,0,0,0,3430,0,NaN,0,0,NaN,0.00,TINTAS
20,21,Dom Felder,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
21,22,Dolcetto,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
22,23,Durif,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
23,24,Egiodola,1157679,845205,1544746,992241,1059250,911280,1053654,519874,1567341,1047960,NaN,1067591,6322152,NaN,1439539.80,TINTAS
24,25,Ekigaina,0,0,1350,2630,1720,600,1090,0,1340,2070,NaN,1990,2202348,NaN,1000.00,TINTAS
25,26,Festival (Sugraone),0,0,18007,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
26,27,Franconia,0,9310,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
27,28,Freisa,0,0,0,0,0,41403,24452,0,22610,14020,NaN,25330,0,NaN,0.00,TINTAS
28,29,Gamay St Romain,38260,44153,20830,10995,11615,11180,31935,0,12835,12675,NaN,0,0,NaN,0.00,TINTAS
29,30,Gamay Beaujolais,208276,84074,164201,163664,135405,113038,121516,45952,150331,152384,NaN,143278,5375879,NaN,126667.00,TINTAS
30,31,Grand Noir,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,0.00,TINTAS
31,32,Grenache,0,0,1180,0,0,0,0,0,0,0,NaN,1130,1715870,NaN,830.00,TINTAS
32,33,Jaen,3642,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,NaN,TINTAS
33,34,Lagrein,670,5670,3288,800,15300,750,1400,0,1430,2700,NaN,3020,94970,NaN,3100.00,TINTAS
34,35,Lambrusco,111537,68480,94480,52740,56120,29890,39990,19784,61779,44511,NaN,29320,3221972,NaN,15620.00,TINTAS
35,36,Malbec,393256,318059,636608,629019,590041,616160,624096,267885,740327,628780,NaN,493966,8502206,NaN,584140.67,TINTAS
36,37,Marzemina,0,0,5460,0,0,4180,750,0,0,0,NaN,0,0,NaN,390.00,TINTAS
37,38,Merlot,8876279,6179006,12510489,9645204,10179782,7846034,8030882,3286035,8309646,6257492,NaN,6010486,494356,NaN,7179442.11,TINTAS
38,39,Marselan,228360,200025,339023,261314,345504,404323,411105,205095,385945,384278,NaN,449156,154348,NaN,988859.85,TINTAS
39,40,Mistura de uvas viníferas tinto,0,0,0,0,0,0,0,0,0,0,NaN,0,0,NaN,700.00,TINTAS
40,41,Molinera,650,100,1080,990,1009,1023,1080,324,1480,1900,NaN,2198,569,NaN,2600.00,TINTAS

In [114]:
Processamento_fim = pd.melt(Processamento_final, id_vars=['categoria', 'cultivar', 'id'], value_vars=Processamento_final.iloc[:, -15:], var_name="Ano", value_name="Total_Qtd_KG")

# Filtrar apenas linhas onde Ano é '2023'
Processamento_fim_2023 = Processamento_fim[Processamento_fim['Ano'] == '2023']
Processamento_fim_2023

              categoria           cultivar   id   Ano  Total_Qtd_KG
1781             TINTAS  Alicante Bouschet    2  2023    4108858.21
1782             TINTAS           Ancelota    3  2023     783688.39
1783             TINTAS             Aramon    4  2023          0.00
1784             TINTAS        Alfrocheiro    5  2023          0.00
1785             TINTAS          Arinarnoa    6  2023     147979.40
...                 ...                ...  ...   ...           ...
1913  BRANCAS E ROSADAS         Vermentino  135  2023      28218.00
1914  BRANCAS E ROSADAS          Vernaccia  136  2023        800.00
1915  BRANCAS E ROSADAS           Viogner   137  2023      21794.25
1916  BRANCAS E ROSADAS           Viognier  138  2023     974004.64
1917  BRANCAS E ROSADAS          Outras(3)  139  2023          0.00

[137 rows x 5 columns]